#!/usr/bin/make -f

# secondly called by launchpad
build:
	CXXFLAGS=-std=c++0x ./waf configure --enable-shared --with-optim --with-solver --with-affine-extended --interval-lib=filib --lp-lib=clp --prefix=debian/tmp/opt/libibex/2.7.2
	./waf build

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	./waf install
	mkdir debian/tmp/DEBIAN
	sed 's/^prefix=.*/prefix=\/opt\/libibex\/2.7.2/' -i debian/tmp/opt/libibex/2.7.2/share/pkgconfig/ibex.pc  # fix prefix
	dpkg-gencontrol -plibibex-dev
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	-rm -rf build
	-rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean
